<template>
  <v-app>
    <v-container fluid class="Base">
      <v-row>
        <v-col>
          <v-row no-gutters>
            <!-- Buttons -->
            <v-col>
              <AlertForm
                v-on:clickSubmit="handleAlertFormSubmit"
                :groups="groups"
                :hazards="hazards"
              ></AlertForm>
            </v-col>
            <v-col>
              <v-card @click="addBaseFence">
                <!-- FIXME: -->
                Add GeoFence
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <!-- Map row -->
            <v-col>
              <!-- Map -->
              <Map
                :msg="message"
                :markers="items"
                :itemCenter="itemCenter"
                :paths="paths"
                v-on:clickedMarker="handleMarkerClickInParent"
              />
            </v-col>
          </v-row>
          <v-row>
            <!-- Alerts and reports row -->
            <v-col>
              <!-- Alerts -->
              <alert-table :alerts="alerts"></alert-table>
            </v-col>
            <v-col>
              <!-- Reports -->
              <v-card flat>
                <ReportNotification :items="items" />
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col>
          <!-- Context panel and time -->
          <v-row>
            <v-tabs
              color="black"
              background-color="orange"
              slider-color="yellow"
            >
              <v-tab ripple>Reports</v-tab>
              <v-tab ripple>Other Report</v-tab>
              <v-tab-item>
                <v-card>
                  <report-table
                    :items="items"
                    :activeReportID="activeReportID"
                    v-on:clickedItem="handleItemClickInParent"
                  />
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <ReportDataTable
                    :items="items"
                    :activeReportID="activeReportID"
                    v-on:clickItem="handleItemClickInParent"
                  />
                </v-card>
              </v-tab-item>
            </v-tabs>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
// import test_card from "../components/test_components/test_card";
import Map from "../components/Map";
import ReportTable from "../components/ReportTable";
import ReportNotification from "../components/ReportNotification";
import ReportDataTable from "../components/ReportDataTable";
import AlertForm from "../components/AlertForm";
import AlertTable from "../components/AlertTable.vue";

export default {
  name: "home",
  components: {
    // test_card,
    Map,
    ReportTable,
    ReportNotification,
    ReportDataTable,
    AlertForm,
    AlertTable
  },
  data() {
    return {
      message: "",
      itemCenter: { lat: 44.5638, lng: -123.2794 },
      activeReportID: "",
      tab: null,
      items: [],
      alerts: [],
      groups: [],
      paths: [],
      hazards: []
    };
  },
  computed: {},
  beforeCreate: async function() {
    //gets token from auth for accessing database
    let token = await this.$auth.getIdTokenClaims();
    token = token.__raw;
    await window.localStorage.setItem("apollo-token", token);
  },
  beforeMount: async function() {
    // `1` is the ID of the book we want to fetch.
    await this.fetchReports();
    await this.fetchAlerts();
    await this.fetchGroups();
    await this.fetchHazards();
  },
  methods: {
    handleMarkerClickInParent: function(id) {
      //handles click on map marker to update selected in report table
      this.message = id;
      this.activeReportID = this.items.findIndex(item => item.id == id);
    },
    handleItemClickInParent: function(id) {
      //handles click in reprt table to recenter on map
      this.message = id;
      this.itemCenter = this.items.find(item => item.id == id)?.position;
      console.log("center", this.itemCenter);
    },
    async handleAlertFormSubmit(message, hazard, group) {
      //handles submission form from modal and adds it to
      var eid = await this.getEid(hazard);
      var gid = await this.getGid(group);

      const alert = { text: message, eid: eid, gid: gid };
      this.$store.dispatch("addAlert", alert);
    },
    async fetchReports() {
      // fetch reports from database and formats/pushes them to items
      console.log("reports:");
      await this.$store.dispatch("fetchReports");
      var reports = this.$store.state.reports;
      await this.$store.dispatch("fetchUsers");
      var users = this.$store.state.users;
      console.log(users);
      var i;
      for (i = 0; i < reports.length; i++) {
        var name = users.find(item => item.id == reports[0].uid)?.name;
        var report = {
          id: reports[i].id,
          sender: name,
          content: reports[i].description,
          position: { lat: reports[i].lat, lng: reports[i].long },
          hazard: reports[i].hazard,
          time: reports[i].time
        };
        this.items.push(report);
      }
    },
    async fetchAlerts() {
      // fetch alerts from database and formats/pushes them to alerts
      console.log("alerts:");
      await this.$store.dispatch("fetchAlerts");
      var alerts = this.$store.state.alerts;
      await this.$store.dispatch("fetchEvents");
      var events = this.$store.state.events;
      await this.$store.dispatch("fetchHazards");
      var hazards = this.$store.state.hazards;
      var i;
      for (i = 0; i < alerts.length; i++) {
        var hid = events.find(item => item.id == alerts[i].eid)?.hid;
        var hazard = hazards.find(item => item.id == hid)?.name;
        var alert = {
          id: alerts[i].id,
          hazard: hazard,
          description: alerts[i].description,
          gid: alerts[i].gid,
          eid: alerts[i].eid
        };
        this.alerts.push(alert);
      }
    },
    async getEid(hazardName) {
      //get eid for a particular hazard
      await this.$store.dispatch("fetchEvents");
      var events = this.$store.state.events;
      await this.$store.dispatch("fetchHazards");
      var hazards = this.$store.state.hazards;
      var hid = hazards.find(item => item.name == hazardName)?.id;
      var eid = events.find(item => item.hid == hid)?.id;
      return eid;
    },
    async getGid(groupName) {
      // get a group id for group name
      await this.$store.dispatch("fetchGroups");
      var groups = this.$store.state.groups;
      var gid = groups.find(item => item.name == groupName)?.id;
      return gid;
    },
    async fetchGroups() {
      // fetch groups from database and formats/pushes them to groups
      await this.$store.dispatch("fetchGroups");
      var groups = this.$store.state.groups;
      var i;
      for (i = 0; i < groups.length; i++) {
        var group = {
          id: groups[i].id,
          name: groups[i].name,
          description: groups[i].description
        };
        this.groups.push(group);
      }
    },
    async fetchHazards() {
      // fetch hazards from database and formats/pushes them to hazards
      await this.$store.dispatch("fetchHazards");
      var hazards = this.$store.state.hazards;
      var i;
      for (i = 0; i < hazards.length; i++) {
        var hazard = {
          id: hazards[i].id,
          name: hazards[i].name,
          instructions: hazards[i].instructions
        };
        this.hazards.push(hazard);
      }
    },
    addBaseFence() {
      // populates paths with starter geofence
      var newFence = [
        { lat: 44.563, lng: -123.2866 },
        { lat: 44.569, lng: -123.2866 },
        { lat: 44.569367, lng: -123.27428 },
        { lat: 44.5631297, lng: -123.2740746 }
      ];
      this.paths.push(newFence);
    },
    async logout() {
      this.$auth.logout();
    }
  }
};
</script>
