<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on }">
        <v-card v-on="on">Create Alert</v-card>
      </template>
      <v-card elevation-23>
        <v-card-title>
          <span class="headline">Create Alert</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  name="Alert-msg"
                  label="Alert Message*"
                  v-model="alertMessage"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  name="hazards"
                  :items="hazards"
                  v-model="hazard"
                  label="Hazards"
                  item-text="name"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  name="groups"
                  :items="groups"
                  v-model="group"
                  label="Groups"
                  item-text="name"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="clickCancel">Close</v-btn>
          <v-btn color="blue darken-1" text @click="clickSubmit">Send</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    groups: [],
    hazards: []
  },
  methods: {
    clickSubmit: function() {
      //submit button
      console.log(this);
      this.$emit("clickSubmit", this.alertMessage, this.hazard, this.group);
      this.dialog = false;
      this.alertMessage = "";
      this.hazard = "";
      this.group = "";
    },
    clickCancel: function() {
      //Cancel Button Function
      this.dialog = false;
      this.alertMessage = "";
      this.hazard = "";
      this.group = "";
    }
  },
  data() {
    return {
      dialog: false,
      alertMessage: "",
      hazard: "",
      group: ""
    };
  }
};
</script>
