<template>
  <v-card max-width="500" class="mx-auto" align="stretch" style="height: 40vh;">
    <v-toolbar color="orange" dark>
      <v-toolbar-title>Active Alerts</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-toolbar>

    <v-list subheader>
      <v-subheader>Hazard - Description</v-subheader>

      <v-list-item v-for="item in alerts" :key="item.hazard">
        <v-list-item-content>
          <v-list-item-title v-text="item.hazard"></v-list-item-title>
        </v-list-item-content>

        <v-list-item-content>
          <v-list-item-subtitle
            class="text--primary"
            v-text="item.description"
          ></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    alerts: []
  },
  methods: {},
  data() {
    return {};
  }
};
</script>
