<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <GmapMap
      :center="center"
      :zoom="16"
      :options="{
        zoomControl: true,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: true,
        disableDefaultUi: true,
        styles: [
          {
            featureType: 'poi',
            stylers: [{ visibility: 'off' }]
          },
          {
            featureType: 'poi.park',
            stylers: [{ visibility: 'on' }]
          },
          {
            featureType: 'poi.school',
            stylers: [{ visibility: 'on' }]
          },
          {
            featureType: 'poi.government',
            stylers: [{ visibility: 'on' }]
          },
          {
            featureType: 'poi.medical',
            stylers: [{ visibility: 'on' }]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{ visibility: 'off' }]
          }
        ]
      }"
      map-type-id="roadmap"
      style="width: 100%; height: 30em; margin-left: auto; margin-right: auto"
    >
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :icon="{ url: require('../assets/pin3_e.png') }"
        :clickable="true"
        :draggable="false"
        @click="clickMarker(m.id, m.position)"
      />
      <gmap-polygon
        :paths="paths"
        :visible="false"
        :editable="true"
        @paths_changed="updateEdited($event)"
      >
      </gmap-polygon>
    </GmapMap>
  </div>
</template>

<script>
import { gmapApi } from "vue2-google-maps";

export default {
  name: "Map",
  methods: {
    clickMarker: function(id, position) {
      //eslint-disable-next-line
          debugger
      this.center = position;
      this.$emit("clickedMarker", id);
    },
    updateEdited(mvcArray) {
      //Updates path of map polygon
      let paths = [];
      for (let i = 0; i < mvcArray.getLength(); i++) {
        let path = [];
        for (let j = 0; j < mvcArray.getAt(i).getLength(); j++) {
          let point = mvcArray.getAt(i).getAt(j);
          path.push({ lat: point.lat(), lng: point.lng() });
        }
        paths.push(path);
      }
      this.edited = paths;
    }
  },
  props: {
    msg: String,
    markers: [],
    itemCenter: undefined,
    paths: []
  },
  computed: {
    google: gmapApi
  },
  watch: {
    itemCenter: function(newVal, oldVal) {
      console.log("Center changed: ", newVal, " | was: ", oldVal);
      this.center = this.itemCenter;
    }
  },
  data() {
    return {
      center: { lat: 44.5638, lng: -123.2794 },
      edited: null
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
