<template>
  <v-card>
    <v-list two-line>
      <v-list-item-group v-model="selected" active-class="orange--text">
        <template v-for="(item, index) in items">
          <v-list-item :key="item.id" @click="clickItem(item.id)">
            <template v-slot:default="{ active }">
              <v-list-item-content>
                <v-list-item-title>Report:</v-list-item-title>
                <v-list-item-subtitle
                  class="text--primary"
                  v-text="item.sender"
                ></v-list-item-subtitle>
                <v-list-item-subtitle
                  v-text="item.content"
                ></v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <v-list-item-action-text
                  v-text="item.time"
                ></v-list-item-action-text>
                <v-icon v-if="!active" color="grey lighten-1">Unactive</v-icon>

                <v-icon v-else color="green">Active</v-icon>
              </v-list-item-action>
            </template>
          </v-list-item>

          <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
        </template>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    items: [],
    activeReportID: String
  },
  methods: {
    clickItem: function(id) {
      //registers clicking on an item
      this.$emit("clickedItem", id);
    }
  },

  data() {
    return {
      selected: 4
    };
  },
  watch: {
    activeReportID: function(newVal, oldVal) {
      console.log("Prop changed: ", newVal, " | was: ", oldVal);
      console.log("selected", this.selected);
      this.selected = this.activeReportID;
      console.log("selected", this.selected);
    }
  }
};
</script>
