<template>
  <v-card max-width="500" class="mx-auto" align="stretch" style="height: 40vh;">
    <v-toolbar color="orange" dark>
      <v-toolbar-title>New Reports</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-toolbar>

    <v-list subheader>
      <v-subheader>Hazards</v-subheader>

      <v-list-item v-for="item in hazards" :key="item.hazard">
        <v-list-item-avatar>
          <v-img :src="item.icon" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="item.hazard"></v-list-item-title>
        </v-list-item-content>

        <v-list-item-content>
          <v-list-item-subtitle
            class="text--primary"
            v-text="item.count.toString()"
          ></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    items: []
  },
  methods: {
    count: function(hazard) {
      //counts number of hazard and uses that to populate table.
      var count = 0;
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i].hazard == hazard) {
          count++;
        }
      }
      return count;
    }
  },
  watch: {
    items: function() {
      //updates counts whenever items changes
      this.hazards[0].count = this.count("Fire");
      this.hazards[1].count = this.count("Flood");
      this.hazards[2].count = this.count("Shooting");
    }
  },
  mounted: function() {
    this.hazards[0].count = this.count("Fire");
    this.hazards[1].count = this.count("Flood");
    this.hazards[2].count = this.count("Shooting");
  },
  data() {
    return {
      hazards: [
        {
          id: "a",
          hazard: "Fire",
          icon: require("../assets/fire.jpg"),
          active: 1,
          count: 1
        },
        {
          id: "b",
          hazard: "Flood",
          icon: require("../assets/water.jpg"),
          active: 1,
          count: 2
        },
        {
          id: "c",
          hazard: "Shooting",
          icon: require("../assets/gun.png"),
          active: 1,
          count: 3
        }
      ]
    };
  }
};
</script>
