<template>
  <v-data-table
    v-model="selected"
    :headers="headers"
    :items="items"
    :single-select="singleSelect"
    item-key="id"
    group-by="hazard"
    class="elevation-1 mytable"
    show-group-by
    @click:row="handleClick"
    show-expand
    :single-expand="singleExpand"
    :expanded.sync="expanded"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Expandable Table</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-switch
          v-model="singleExpand"
          label="Single expand"
          class="mt-2"
        ></v-switch>
      </v-toolbar>
    </template>
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length">{{ item.content }}</td>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    items: [],
    activeReportID: String
  },
  methods: {
    clickItem: function(value) {
      console.log(value);
      this.$emit("clickItem", this.selected[0].id);
    },
    handleClick(event) {
      //registers when clicked on same area.
      this.selected = [
        this.items[this.items.findIndex(item => item.id == event.id)]
      ];
    }
  },
  watch: {
    //watch for changes in variables below and perform said action when completed.
    selected: function() {
      this.clickItem(this.selected[0].sender);
    },
    activeReportID: function() {
      this.selected = [this.items[this.activeReportID]];
    }
  },

  data() {
    return {
      singleSelect: true,
      singleExpand: false,
      expanded: [],
      selected: [],
      headers: [
        {
          text: "Sender",
          align: "start",
          value: "sender",
          divider: true
        },
        { text: "Content  ", value: "content", sortable: false, divider: true },
        { text: "Sent", value: "time", divider: true },
        { text: "Hazard Type", value: "hazard", divider: true },
        { text: "", value: "data-table-expand", groupable: false }
      ]
    };
  }
};
</script>
