<template>
  <div id="app">
    <p v-if="$auth.loading">Loading</p>
    <div v-if="!$auth.loading">
      <!-- show login when not authenticated -->
      <button v-if="!$auth.isAuthenticated" @click="login">Log in</button>
      <!-- show logout when authenticated -->
      <router-view v-if="$auth.isAuthenticated" />
    </div>
  </div>
</template>

<script>
export default {
  created: async function() {
    //On the page start up refresh the token
    if (this.$auth.isAuthenticated) {
      let token = await this.$auth.getIdTokenClaims();
      token = token.__raw;
      await window.localStorage.setItem("apollo-token", token);
    }
  },
  beforeDestroy: async function() {
    await this.$auth.logout();
  },
  methods: {
    async login() {
      await this.$auth.loginWithRedirect();
    },
    async logout() {
      await this.$auth.logout();
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
